
.btn {
    z-index: 2;
    display: inline-block;
    vertical-align: top;
    margin: 2px;
    padding: 0;
    border: none;
    border-radius: 2px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    /*text-transform: uppercase;*/
    cursor: pointer;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 4px;
    padding-top: 4px;
    font-size: 1.1em;


    line-height: 1rem;
    -webkit-transition-property: box-shadow;
    -moz-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    transition-duration: .5s;
}
.btn, .btn:hover, .btn:active, .btn:focus {
    text-decoration: none;
    outline: none;
}
.btn::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*** Цвета шрифта кнопок без фона ***/
.btn-flat.btn-red,
.btn-icon.btn-red {
    color: #f44336;
}

.btn-flat.btn-blue,
.btn-icon.btn-blue {
    color: #2196f3;
}

.btn-flat.btn-green,
.btn-icon.btn-green {
    color: #4caf50;
}

.btn-flat.btn-orange,
.btn-icon.btn-orange {
    color: #ff9800;
}

.btn-flat.btn-grey,
.btn-icon.btn-grey {
    color: #9e9e9e;
}

.btn-flat.btn-black,
.btn-icon.btn-black {
    color: #000000;
}

.btn-flat.btn-white,
.btn-icon.btn-white {
    color: #fff;
}
/*** Тень кнопок ***/
/*.btn-raised,
.btn-fab {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}*/
/*** Изменение при наведении ***/
.btn-raised:hover,
.btn-flat:hover,
.btn-fab:hover,
.btn-icon:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}
/*** Кнопки с фоном ***/
.btn-raised.btn-red,
.btn-fab.btn-red {
    color: #fff;
    background-color: #f44336;
}

.btn-raised.btn-blue,
.btn-fab.btn-blue {
    color: #fff;
    background-color: #2196F3;
}

.btn-raised.btn-green,
.btn-fab.btn-green {
    color: #fff;
    background-color: #56a01e;
}

.btn-raised.btn-orange,
.btn-fab.btn-orange {
    color: #fff;
    background-color: #ff9800;
}

.btn-raised.btn-grey,
.btn-fab.btn-grey {
    color: #fff;
    background-color: #9e9e9e;
}

.btn-raised.btn-black,
.btn-fab.btn-black {
    color: #fff;
    background-color: #000;
}

.btn-raised.btn-white,
.btn-fab.btn-white {
    color: rgba(0, 0, 0, 0.87);
    background-color: #fff;
}
/*** Кнопки с иконками ***/
.btn-icon,
.btn-fab {
    border-radius: 50%;
    padding: 0;
    height: 36px;
    width: 36px;
    line-height: 0;
}


.pretty_submit{
    z-index: 2;
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
    padding: 0;
    border: none;
    border-radius: 2px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    /*text-transform: uppercase;*/
    cursor: pointer;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 4px;
    padding-top: 4px;

    font-size: 1.1em;
    line-height: 1rem;
    -webkit-transition-property: box-shadow;
    -moz-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    transition-duration: .5s;

    color: #fff;
    background-color: #56a01e;
}

.pretty_submit:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

.pretty_button {
    z-index: 2;
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
    padding: 0;
    border: none;
    border-radius: 2px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    /*text-transform: uppercase;*/
    cursor: pointer;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 4px;
    padding-top: 4px;

    font-size: 1.1em;
    line-height: 1rem;
    -webkit-transition-property: box-shadow;
    -moz-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    transition-duration: .5s;

    color: #fff;
    background-color: #9e9e9e;
}

.pretty_button:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

.pretty_red_button {
    z-index: 2;
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
    padding: 0;
    border: none;
    border-radius: 2px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    /*text-transform: uppercase;*/
    cursor: pointer;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 4px;
    padding-top: 4px;

    font-size: 1.1em;
    line-height: 1rem;
    -webkit-transition-property: box-shadow;
    -moz-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    transition-duration: .5s;

    color: #fff;
    background-color: #f44336;
}

.pretty_red_button:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}