/* Подключение шрифта Google */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic");

body
{
	margin: 0;
	padding: 0;
	color: #551FA3;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #202020;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: whitesmoke;
	border: 1px solid #551FA3;
	border-radius: 15px;
}

#header
{
	margin: 0;
	padding: 0;
	/*border-top: 3px solid #551FA3;*/
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #551FA3;
}

#logo
{
	padding: 10px 20px;
	/*font-size: 200%;*/
	text-align: center;
}

/* меню */
.nav {
	margin: 20px 0;
	border-radius: 8px;

}
.nav ul {
	margin: 0;
	padding: 0;
	text-align: center;
}
.nav li {
	margin: 0 5px 10px 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	*display:inline; /* ie7 */
}
.nav a {
	padding: 10px 20px 10px;
	text-decoration: none;
	color: #FFF;
	line-height: 100%;
	background: #5A1AA0;
	border-radius: 8px;
}
.nav a:hover {
	color: #000;
	background: #ECBB16;
	border-radius: 8px;

}
.nav .current a {
	background: #ECBB16;
	color: #fff;
	border-radius: 8px;
}

/*#mainmenu
{
	background:white url(bg2.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}*/

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #551FA3;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.m-text {
	float: left;
	width: 100%;
	text-align: justify;
	font: 16px 'Open Sans', Arial, Sans-serif;
	line-height: 1.5;
	word-wrap: break-word;
	display: inline-block;
}

.m-image {
	float: right;
	border: 5px solid #ECBB16;
	/*border-radius: 8px; */
	margin: 0% 5%;
	display: inline-block;

}

.wrapper {
	width: 100%;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

@media screen and (max-width: 768px) { /* разрешение планшета */

	img {
		width: 95%;
		max-width: 750px; 
        height: auto;
        margin: 4px; /* небольшие оступы для изображений */
        text-align: center;
	}

	.logo{
		width: 75%;
		text-align: center;
	}

	#mainmenu ul
	{
		/*padding:6px 20px 5px 20px;*/
		margin:2px;
	}

	#footer
	{
		margin: 2% 4%;
		font-size: 0.8em;
		text-align: center;
		border-top: 1px solid #551FA3;
	}

	.container {
		width: 98%;
		max-width: 100%;
		margin:0 auto;
	}

	body {
		max-width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.nav {
		position: relative;
		min-height: 36px;

	}	
	.nav ul {
		width: 180px;
		padding: 5px 0;
		position: absolute;
		top: 0;
		left: 0;
		border: solid 1px #aaa;
		background: #FAFAFA url(images/icon-menu.png) no-repeat 10px 11px;
		border-radius: 5px;
		box-shadow: 0 1px 2px rgba(0,0,0,.3);
	}
	.nav li {
		display: none; /* скрыть все <li> пункты */
		margin: 0;
	}
	.nav .current {
		display: block; /* показывать только текущие активные <li> пункты */
	}
	.nav a {
		display: block;
		padding: 5px 5px 5px 32px;
		text-align: left;
	}
	.nav .current a {
		background: none;
		color: #666;
	}

	/* при наведении на пункты меню */
	.nav ul:hover {
		background-image: none;
	}
	.nav ul:hover li {
		display: block;
		margin: 0 0 5px;
	}
	.nav ul:hover .current {
		background: url(images/icon-check.png) no-repeat 10px 7px;
	}

	h1 {
        min-width: 320px;
        font-size: 16px;
       	font:  'Open Sans', Arial, Sans-serif;
    }

    .logo {
        width: 45%;
        max-width: 150px;
    }

	.m-image {
		float: center;
		width: 100;
		
	/*	margin: 15% 15%;*/
	}

	.m-text {
	float: left;
	width: 90%;
	}

	#footer
	{
		margin: 2% 4%;
		font-size: 0.8em;
		text-align: center;
		border-top: 1px solid #551FA3;
	}

	.container {
		width: 100%;
		max-width: 100%;
		margin:0 auto;
	}

	body {
		max-width: 100%;
	}
	
}