/* Подключение шрифта Google */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic");

body
{
	margin: 0;
	padding: 0;
	color: #551FA3;
	background: #202020;


	font: normal 10pt 'Open Sans', Arial, Sans-serif;
}

@media all and (min-width: 900px){
	body{
		background-image: url('background.jpg');
		background-attachment: fixed;
		background-size: 100%;
		background-position: bottom;
	}
}

/* Старое меню

.nav a {
  padding: 10px 20px 10px;
  text-decoration: none;
  color: #FFF;
  line-height: 100%;
  background: #5A1AA0;
  border-radius: 8px;
}

*/

/* Формы по центру и красивые */
.pretty_input_text {
	height: 1.5rem;
	padding-top: 1px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 1px;
	margin: 2px;
	/*border-radius: 1px;*/
}

textarea#PRInfo_inform {
	/*border-radius: 8px;*/
}

#comand-SignUp-form, #comand-sign-in-SignIn-form {
	text-align: center;
}

/* Все зелёные кнопки */
/*
input[type="submit"] {
	text-decoration:none; text-align:center;
	padding: 1px 15px;
	margin-bottom: 1px;
	margin-top: 1px;
	border:solid 1px #004F72; 
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius: 2px;
	font-size: 14px;
	font-family: Helvetica, sans-serif;

	color:white;
	background-color:#67b12f; 
	background-image: -moz-linear-gradient(top, #67b12f 0%, #50911e 100%); 
	background-image: -webkit-linear-gradient(top, #67b12f 0%, #50911e 100%); 
	background-image: -o-linear-gradient(top, #67b12f 0%, #50911e 100%); 
	background-image: -ms-linear-gradient(top, #67b12f 0% ,#50911e 100%); 
	background-image: linear-gradient(top, #67b12f 0% ,#50911e 100%);   
	-webkit-box-shadow:2px 1px 2px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 2px 1px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow:2px 1px 2px #bababa, inset 0px 0px 1px #ffffff;  
	 
	text-shadow: 1px 1px 2px #bababa; 
 }
*/
/*input[type="submit:active"] {
 padding:8px 34px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:8px;
 -moz-border-radius:8px; 
 border-radius: 8px; 
 font:14px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background-color:#abacad; 
 background-image: -moz-linear-gradient(top, #abacad 0%, #778285 100%); 
 background-image: -webkit-linear-gradient(top, #abacad 0%, #778285 100%); 
 background-image: -o-linear-gradient(top, #abacad 0%, #778285 100%); 
 background-image: -ms-linear-gradient(top, #abacad 0% ,#778285 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#778285', endColorstr='#778285',GradientType=0 ); 
 background-image: linear-gradient(top, #abacad 0% ,#778285 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 text-shadow: 1px 1px 2px #bababa; 
 
}*/
/*--------------------------------*/

/* Кнопки редактировать и удалить игру(пользователь) */
.btEdit{
	height: 30px;
	width: 30px;
	color: #fff;
	background: url('images/edit26.png')  no-repeat 5px 3px;
	margin: 0px 8px;
	vertical-align: middle;
	border-radius: 5px;
}

.btDelete {
	height: 30px;
	width: 30px;
	color: #fff;
	background: url('images/rubbish7.png')  no-repeat 3px 3px;
	margin: 0px 8px;
	vertical-align: middle;
	border-radius: 5px;
}

/*----------------------*/


/*Кнопка завершения игры(админ)*/
.StopGameButton {
	text-decoration:none; text-align:center; 
	padding:8px 34px; 
	border:solid 1px #004F72; 
	-webkit-border-radius:8px;
	-moz-border-radius:8px; 
	border-radius: 8px; 
	font:14px Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	color:#ffffff; 
	background-color:#F80012; 
	background-image: -moz-linear-gradient(top, #F80012 0%, #FF6C00 100%); 
	background-image: -webkit-linear-gradient(top, #F80012 0%, #FF6C00 100%); 
	background-image: -o-linear-gradient(top, #F80012 0%, #FF6C00 100%); 
	background-image: -ms-linear-gradient(top, #F80012 0% ,#FF6C00 100%); 
	background-image: linear-gradient(top, #F80012 0% ,#FF6C00 100%);   
	-webkit-box-shadow:2px 1px 2px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 2px 1px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow:2px 1px 2px #bababa, inset 0px 0px 1px #ffffff;  
	 
	text-shadow: 1px 1px 2px #bababa; 
}
/*-----------------------------*/

button.button_team {
	height: 30px;
	width: 215px;
	color: #000;
	text-align: left;
	padding: 0 5px 0 37px;
	background: url('images/run4.png')  no-repeat 8px 3px;
	border-radius: 8px;
}

button.button_2 {
	height: 30px;
	width: 215px;
	color: #000;
	text-align: left;
	padding: 0 5px 0 37px;
	background: url('images/man27.png')  no-repeat 8px 3px;
	border-radius: 8px;
}

button.grid_button {
	height: 30px;
	width: 215px;
	color: #000;
	text-align: left;
	padding: 0 5px 0 37px;
	background: url('images/goverment.png')  no-repeat 8px 3px;
	border-radius: 8px;
}

.task-button a {
	color: rgba(0,0,0,0.2);
	font-weight: 700;
	text-shadow: none;
}

.task-button a::before {
	color: #fff;
	content: attr(data-hover);
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.task-button a:hover::before,
.task-button a:focus::before {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: whitesmoke;
	border: 1px solid #551FA3;
	border-radius: 15px;
}

#header
{
	margin: 0;
	padding: 0;
	/*border-top: 3px solid #551FA3;*/
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #551FA3;
}

#logo
{
	padding: 10px 20px;
	/*font-size: 200%;*/
	text-align: center;
}

*:focus {outline: none;}


/* Будущее идеальное меню*/
.nav, #touch-menu {
	margin: 20px 0 0 0;
	background: #5A1AA0;
}
.nav li {
	float: left;
	margin: 0 5px;
	list-style-type: none;
}
.nav li a, #touch-menu {
	display: block;
	padding: 10px 20px 10px;
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
}
.nav li a:hover, #touch-menu:hover {
	color: #000;
	background: #ECBB16;
}
#touch-menu {display: none;}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #551FA3;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.m-text {
	float: left;
	width: 100%;
	text-align: justify;
	font: 16px 'Open Sans', Arial, Sans-serif;
	line-height: 1.5;
	word-wrap: break-word;
	display: inline-block;
}

.m-image {
	float: right;
	border: 5px solid #ECBB16;
	/*border-radius: 8px; */
	margin: 0% 5%;
	display: inline-block;

}

.wrapper {
	width: 100%;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

@media screen and (max-width: 768px) { /* разрешение планшета */

	img {
		width: 95%;
		max-width: 750px; 
        height: auto;
        margin: 4px; /* небольшие оступы для изображений */
        text-align: center;
	}

	.logo{
		width: 75%;
		text-align: center;
	}

	#mainmenu ul
	{
		/*padding:6px 20px 5px 20px;*/
		margin:2px;
	}

	#footer
	{
		margin: 2% 4%;
		font-size: 0.8em;
		text-align: center;
		border-top: 1px solid #551FA3;
	}

	.container {
		width: 98%;
		max-width: 100%;
		margin:0 auto;
	}

	body {
		max-width: 100%;
	}

	/* Скрытие логотипа */
	div#header {
	position:absolute; /* позиционируем блок абсолютно на странице */
	top:-9999px; /* при помощи отрицательного значения убираем блок высоко вверх */
	}

	.nav {display: none;}
	.nav li {float: none;}
	.nav li a {
		background: #FFF;
		color: #666;
		border-top: 1px solid #EEE;
		border-left: 3px solid transparent;
	}
	.nav li a:hover {border-left: 3px solid #515572;}
	.nav li:first-child a {border-top: none;}
	#touch-menu {display: block;}
	.clearfix:after, .container:after {content: none;}

	h1 {
        min-width: 320px;
        font-size: 16px;
       	font:  'Open Sans', Arial, Sans-serif;
    }

    .logo {
        width: 45%;
        max-width: 150px;
    }

	.m-image {
		float: center;
		width: 100;
		
	/*	margin: 15% 15%;*/
	}

	.m-text {
	float: left;
	width: 90%;
	}

	#footer
	{
		margin: 2% 4%;
		font-size: 0.8em;
		text-align: center;
		border-top: 1px solid #551FA3;
	}

	.container {
		width: 100%;
		max-width: 100%;
		margin:0 auto;
	}

	body {max-width: 100%;}
	
}